.container {
  max-width: 60%;
}

.App {
  margin: 0 auto;
  background: linear-gradient(
    89deg,
    rgb(3, 48, 146) 0.1%,
    rgb(34, 44, 185) 51.5%,
    rgb(4, 118, 248) 100.2%
  );

  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 40px 20px;
  border: 3px solid #e2c9cc;
  border-radius: 20px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 1px 2px 3px 0.5px grey;
}
.heading {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  color: #71d2f8;
  text-shadow: 3px 2px 1px black;
}

.mainIcon {
  margin: 0 auto;
  cursor: default;
  padding-top: 100px;
}
