:root {
  --primary-font: "Comfortaa", cursive;
  --secondary-font: Helvetica, Arial, sans-serif;
}

.CurrentDate {
  text-align: center;
  font-family: var(--secondary-font);
  color: rgb(255, 254, 254);
  font-size: 1rem;
  font-weight: 500;
}
