.footer {
  background-color: #82adf1;
  font-size: 0.8rem;
  text-align: center;
  color: #302f2f;
}
a {
  text-decoration: none;
  color: #323a3f;
}

a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
